.details-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  
  .venue-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
  }
  .image-section {
    width: 100%;
    max-width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1));
  }

  .image-section img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .image-section img:hover {
    transform: scale(1.05);
  }
  
  
  .info-section {
    flex: 1;
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .info-section h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
  }
  
  .info-section p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #555;
  }
  
  .info-section ul {
    padding-left: 20px;
    list-style-type: disc;
    margin-bottom: 20px;
  }
  
  .info-section ul li {
    margin-bottom: 8px;
  }
  
  .book-button {
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .book-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  /* Map section */
  .map-section {
    margin-top: 40px;
    width: 100%;
    text-align: center;
  }
  
  .map-section h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .map-image img {
    width: 100%;
    max-width: 1200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .venue-details {
      flex-direction: column;
      align-items: center;
    }
  }