/* Container for the Home Page */
.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: #32CD32;  */
    /* background-color: hsl(120, 91%, 49%); Vivid LimeGreen */
    background: linear-gradient(to right, #52e63b, #177c17);

    min-height: calc(100vh - 80px); 
  }
  
  .text-section {
    flex: 1;
    padding: 20px;
  }
  
  .title {
    font-size: 2.6rem;
    color: #090909;
    margin-bottom: 10px;
  }
  
  .tagline {
    font-size: 1.4rem;
    color: #111112;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .filter-button {
    background-color: #424649;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .search-button {
    background-color: #007bff; /* Blue color for Search */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bolder;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .filter-button:hover,
  .search-button:hover {
    transform: scale(1.1); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  .image-section {
    flex: 1;
    text-align: center;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .search-button:hover{
    background-color:  #52c2f6;
  }
  .filter-button:hover{
    background-color:#50565a;
  }
  